body{
  background: CadetBlue;
}
.koala-box{
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  width: 600px;
  height: 420px;
  background: White;
}

.head{
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background: #A6BECF;
  border-radius: 50%;
}

.head-copy{
  width: 100%;
  height: 100%;
  position: absolute;
  background: #A6BECF;
  border-radius: 50%;
  z-index: 2;
}

.ear-left{
  position: absolute;
  width: 60%;
  height: 65%;
  left: -20%;
  top: 5%;
  background: #A6BECF;
  border-radius: 50%;
  z-index: 1;
}
.ear-right{
  position: absolute;
  width: 60%;
  height: 65%;
  right: -20%;
  top: 5%;
  background: #A6BECF;
  border-radius: 50%;
  z-index: 1;
}
.inner-ear{
  position: absolute;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background: #819CAF;
}

.eye-left{
  position: absolute;
  background: white;
  width: 30%;
  height: 33%;
  top: 25%;
  left: 21%;
  border-radius: 50%;
  z-index: 3;
}
.eye-right{
  position: absolute;
  background: white;
  width: 30%;
  height: 33%;
  top: 25%;
  right: 21%;
  border-radius: 50%;
  z-index: 2;
}
.pupil{
  position: absolute;
  width: 28%;
  height: 30%;
  top: 50%;
  left: 45%;
  border-radius: 50%;
  background: #27354A;
}

.nose{
  position: absolute;
  background: #BE845F;
  width: 25%;
  height: 42.5%;
  left: 37%;
  top: 45%;
  border-radius: 50px;
  z-index: 4;
}

.hair-left{
  position: absolute;
  top: -8%;
  left: 30%;
  width: 20%;
  height: 20%;
  background:  #A6BECF;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.hair-right{
  position: absolute;
  top: -4%;
  left: 48%;
  width: 20%;
  height: 20%;
  background:  #A6BECF;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.pig-box{
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  width: 600px;
  height: 420px;
  background: White;
}

.pig-head{
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background: MistyRose;
  border-radius: 50%;
}

.pig-head-copy{
  width: 100%;
  height: 100%;
  position: absolute;
  background:MistyRose;
  border-radius: 50%;
  z-index: 2;
}

.pig-ear-left{
  position: absolute;
  width: 60%;
  height: 65%;
  left: -20%;
  top: -10%;
  background: MistyRose;
  -webkit-clip-path: polygon(40% 8%, 76% 19%, 100% 41%, 57% 100%, 15% 76%, 5% 45%, 8% 13%);
  z-index: 1;
}
.pig-ear-right{
  position: absolute;
  width: 60%;
  height: 65%;
  right: -20%;
  top: -10%;
  background: MistyRose;
  -webkit-clip-path: polygon(60% 8%, 24% 19%, 0% 41%, 43% 100%, 85% 76%, 95% 45%, 92% 13%);
  z-index: 1;
}
.pig-inner-ear{
  position: absolute;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  top: 23%;
  left: 25%;
  background: LightCoral;
  z-index: 2;
}

.pig-eye-left{
  position: absolute;
  background: white;
  width: 30%;
  height: 33%;
  top: 25%;
  left: 21%;
  border-radius: 50%;
  z-index: 3;
}
.pig-eye-right{
  position: absolute;
  background: white;
  width: 30%;
  height: 33%;
  top: 25%;
  right: 21%;
  border-radius: 50%;
  z-index: 2;
}
.pig-pupil{
  position: absolute;
  width: 28%;
  height: 30%;
  top: 20%;
  left: 25%;
  border-radius: 50%;
  background: #27354A;
}

.pig-nose{
  position: absolute;
  background: pink;
  width: 45%;
  height: 32.5%;
  left: 27%;
  top: 47%;
  border-radius: 50px;
  z-index: 4;
}

.pig-nostril-left{
  position: absolute;
  width: 12%;
  height: 30%;
  top: 40%;
  left: 25%;
  border-radius: 50%;
  background: LightCoral;
}

.pig-nostril-right{
  position: absolute;
  width: 12%;
  height: 30%;
  top: 40%;
  right: 25%;
  border-radius: 50%;
  background: LightCoral;
}
